html *
{
   font-family: Arial !important;
}

head {

	background-color: aquamarine;
}


header {

	height: 80px;
	width: 100%;
	max-width:1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: aquamarine;
	text-align: left;
	margin-bottom:-10px;
}

nav {
	background-color: beige;
	float: top;
	font-size:0px;
	margin-bottom:-10px;
}



a:link {
	width:100px;
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: antiquewhite;
    text-decoration: none;
}



h1 {
	
	margin-bottom: -0.67em;
}


body {
	max-width:1000px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: beige;
	border: 1px solid #ccc;

}


table {

  table-layout: fixed; 
  border-spacing: 0px;
  *margin-left: -100px;/*ie7*/
}

td,  th {
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding:10px;
  width:150px;
}


button {

	margin-top:-10px;
	margin-bottom:10px;
}

.fi {
	margin-top:30px;
	margin-bottom:-20px;
}

.menu {

	padding-left:48px;
	padding-right:48px;
	border: 2px solid#6495ED; /* CornflowerBlue */
	display:inline-flex;
    width:250px;
	height:60px;
	font-size:24px;


}

.left {
	display:block
}

.right {
	display:inline-block; 
	
}

.responsive {

	padding: 5px;
	max-width: 1000px;
} 

.trivia {
	padding: 5px;
	max-width: 1000px;
	
}

.triv {
	color:cornflowerblue;
	
}



.content {
	display: none;
}

.mapInit {

	max-width:800px;

	max-height:600px;

}

.map {
	display: none;

	max-width:800px;

	max-height:600px;

}

.fix {
  position: absolute;
  *position: relative; /*ie7*/
  margin-left: -150px;
  width:128px;
  border-style:hidden;
  border-right: 1px solid #ccc;	
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;	
  padding:-10px;

}
.outer {/*position:rabsolute*/}
.inner {
  overflow-x:auto;
  overflow-y:visible;

  margin-left:150px;
}