table {
  table-layout: fixed; 
  border-spacing: 0px;
  *margin-left: -100px;/*ie7*/
}
td, th {
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding:10px;
  width:140px;
}


.fix {
  position: absolute;
  *position: relative; /*ie7*/
  margin-left: -120px;
  width:100px;
  border-style:hidden;

  border-top: 1px solid #ccc;
  padding:10px;

}
.outer {/*position:rabsolute*/}
.inner {
  overflow-x:auto;
  overflow-y:visible;

  margin-left:110px;
}