

#splash_icon_middle {
    height: 300px;
    width: 300px;
	opacity: 0.0;
	
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -150px;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#image_middle {
    height: 160px;
    width: 160px;
    margin-left: -80px;
}

#appname {
	/*font-family: "Scriptina";*/
	width: 300px;
    margin-left: -150px;
	/*font-weight: bold;*/
	font-size: 250%;
	color: #cec5c5;
	text-align: center;
}

@font-face {
  font-family: 'Scriptina';
  src: url('../fonts/scriptina.ttf');
}

@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('../fonts/Material-Design-Iconic-Font.ttf');
}
